<div class="panel panel-primary">
  <div class="panel-heading">Заявки</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Име</th>
          <th>Презиме</th>
          <th>Фамилия</th>
          <th>Училище</th>
          <th>Модули</th>
          <th>Коментари</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.first_name %></td>
            <td><%= student.middle_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.school.name %></td>
            <td><%= student.exams.map(&:name).join(', ') %></td>
            <td><%= student.comments.count %></td>
            <td>
              <%=
                case student.parent_status
                when :approved
                  "Одобрен"
                when :declined
                  "Отхвърлен"
                when :waiting
                  "Чака родител"
                when :unapproved
                  "Чака одобрение"
                else
                  "N/A"
                end %>
            </td>
            <td><%= link_to "Преглед", approval_path(student.id), :class => "btn btn-primary" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
