<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Ученик</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <label>Име</label>
          </div>
          <div class="col-xs-8">
            <%= @request.student.first_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Презиме</label>
          </div>
          <div class="col-xs-8">
            <%= @request.student.middle_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Фамилия</label>
          </div>
          <div class="col-xs-8">
            <%= @request.student.last_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Фамилия</label>
          </div>
          <div class="col-xs-8">
            <%= @request.student.last_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Регион</label>
          </div>
          <div class="col-xs-8">
            <%= @request.student.region.name %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Град</label>
          </div>
          <div class="col-xs-8">
            <%= @request.student.city.name %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Училище</label>
          </div>
          <div class="col-xs-8">
            <%= @request.student.school.name %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Модули</label>
          </div>
          <div class="col-xs-8">
            <%= @request.student.exams.map(&:name).join(', ') %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Декларация</label>
          </div>
          <div class="col-xs-8">
            <%= link_to 'Изтегли', @request.student.declaration %>
            <%= image_tag @request.student.declaration, :class => "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Родител</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <label>Име</label>
          </div>
          <div class="col-xs-8">
            <%= @request.parent.first_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Фамилия</label>
          </div>
          <div class="col-xs-8">
            <%= @request.parent.last_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Телефон</label>
          </div>
          <div class="col-xs-8">
            <%= tel_to @request.parent.phone %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>E-mail</label>
          </div>
          <div class="col-xs-8">
            <%= mail_to @request.parent.email %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <% unless @request.is_approved? or @request.is_rejected? %>

      <div class="panel panel-default">
        <div class="panel-heading">Операции</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4">
              <%= link_to "Одобри", approve_approval_path(@request), :class => "btn btn-success btn-block" %>
            </div>
            <div class="col-xs-4">
              <button href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#comment-modal">Добави
                коментар
              </button>
            </div>
            <div class="col-xs-4">
              <%= link_to "Отхвърли", reject_approval_path(@request), :class => "btn btn-danger btn-block" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">История</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <label>Създаден</label>
          </div>
          <div class="col-xs-8">
            <%= @request.student.created_at %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Последно променен</label>
          </div>
          <div class="col-xs-8">
            <%= @request.student.updated_at %>
          </div>
        </div>
        <% if @request.is_approved? %>
          <div class="row">
            <div class="col-xs-4">
              <label>Одобрен на</label>
            </div>
            <div class="col-xs-8">
              <%= @request.approved_at %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <label>Одобрен от</label>
            </div>
            <div class="col-xs-8">
              <%= @request.respond_user.full_name %> <<%= mail_to @request.respond_user.email %>
              , <%= tel_to @request.respond_user.phone %>>
            </div>
          </div>
        <% end %>
        <% if @request.is_rejected? %>
          <div class="row">
            <div class="col-xs-4">
              <label>Отхвърлен на</label>
            </div>
            <div class="col-xs-8">
              <%= @request.rejected_at %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <label>Отхвърлен от</label>
            </div>
            <div class="col-xs-8">
              <%= @request.respond_user.full_name %> <<%= mail_to @request.respond_user.email %>
              , <%= tel_to @request.respond_user.phone %>>
            </div>
          </div>
        <% end %>

        <% unless @request.comments.blank? %>
          <div class="row">
            <div class="col-xs-4">
              <label>Коментари</label>
            </div>
            <div class="col-xs-8">
              <% @request.comments.each do |c| %>
                <div class="row">
                  <%= c.user.full_name %> <<%= mail_to c.user.email %>, <%= tel_to c.user.phone %>>
                  (<%= c.created_at %>)
                  <div class="col-xs-11 col-xs-push-1">
                    <%= c.content %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>


      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="comment-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Коментар
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        </h5>

      </div>
      <div class="modal-body">
        <%= bootstrap_form_for ApprovalComment.new(:request => @request), url: approval_comment_path(@request), method: :post do |f| %>
          <%= f.text_area :content %>
          <%= f.submit 'Създай', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>