<div class="row">
  <div class="col-sm-6 col-md-8">
    <h2>Къде съм?</h2>
    Добре дошли в системата за кандидатстване в
    <strong>Националното състезание по природни науки и география "Акад. Л. Чакалов" </strong>

    <hr/>

    <h3>Какво следва?</h3>

    <% if user_signed_in? %>
      <% if current_user.is_parent? %>
        <%= link_to("Влезте в панела, за да регистрирате учениците си", students_path) %>
      <% else %>
        <%= link_to("Одобрение на регистрации", approvals_path, :class => "btn btn-primary btn-block") %>
        <%= link_to("Административен панел", rails_admin_path, :class => "btn btn-default btn-block") %>
      <% end %>

    <% else %>
      <%= link_to("Влезте", new_user_session_path) %>
      или <%= link_to("се регистрирайте", new_user_registration_path) %>
    <% end %>
  </div>

  <div class="col-sm-6 col-md-4">
    <% if @posts.present? %>
      <h3>Информация:</h3>

      <% @posts.each do |post| %>
        <div class="media">
          <div class="media-body"></div>
          <h4 class="media-heading"><%= post.title %></h4>
          <%= raw post.content %>
      <% end %>

    <% end %>
    </div>
  </div>
</div>
