<div class="container-fluid">
  <h2>Важно: Тук се попълват само данни на регистриращия - родител/настойник или учител.</h2>
  <br/>
  <div class="card">
    <div class="card-header"><%= t('.sign_up') %></div>
    <div class="card-body">

      <%= bootstrap_form_for(
            resource,
            as: resource_name,
            url: registration_path(resource_name)
          ) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.email_field :email, autocomplete: 'email', name: 'email' %>
        <%= f.password_field :password, autocomplete: 'new-password' %>
        <%= f.password_field :password_confirmation, autocomplete: 'new-password' %>

        <%= f.text_field :first_name, autocomplete: 'given-name', name: 'fname' %>
        <%= f.text_field :last_name, autocomplete: 'family-name', name: 'lname' %>

        <%= f.phone_field :phone, autocomplete: 'tel', name: 'phone' %>

        <%= f.submit t('.sign_up'), class: 'btn btn-primary btn-block' %>

        <br/>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
