<%= javascript_include_tag Ckeditor.cdn_url %>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">

      <div class="panel-heading">Редактирай ученик</div>
      <div class="panel-body">
        <%= bootstrap_form_for @student, url: student_path, method: :patch do |f| %>

          <%= f.text_field :first_name %>
          <%= f.text_field :middle_name %>
          <%= f.text_field :last_name %>

          <%= f.collection_check_boxes :exam_ids, Exam.all, :id, :name %>

          <h3>Данни за училището</h3>
          <%= f.collection_select :region, Region.order(:name), :id, :name %>
          <%= f.select :city, [] %>
          <%= f.select :school_id, School.all.collect { |p| [p.name, p.id] }, :selected => @student.school_id %>

          <%= f.text_field :class_name, :value => '7', :readonly => true %>

          <h3>Обработка на лични данни</h3>
          <div class='form-group'>
            <!--        <div class="checkbox">-->
            <!--          <label> <%#= f.check_box :personal_data, :as => :boolean, :label => '', :inline_label => true %>-->
            <p>Запознат/а съм с целта и средствата на обработка на личните данни на сина ми/дъщеря ми и съм наясно,че то
              е необходимо за организирането и провеждането на Националното състезание по природни науки и география
              "Академик Любомир Чакалов".</p>
            <p> Запознат/а съм, че личните данни (на хартиен носител и в електронен формат) ще бъдат обработвани и
              съхранявани при спазване на разпоредбите на нормативните актове в областта на защита на личните данни и
              приложимото българско и европейско законодателство.</p>
            <% radio_content = [
                [true,
                 'Съгласен съм резултатите на сина ми/дъщеря ми от Националното състезание по природни науки и география
              "Академик Любомир Чакалов" да бъдат обявени публично.'],
                [false, 'Не съм съгласен резултатите на сина ми/дъщеря ми от Националното състезание по природни науки и география
            "Академик Любомир Чакалов" да бъдат обявени публично.']
            ] %>
            <%= f.collection_radio_buttons :personal_data, radio_content, :first, :last, hide_label: true %>
            <div id="declaration_link" style="display: none; text-indent: 2em;">
              <p>В случай че не сте съгласни резултатите на сина Ви/дъщеря Ви да бъдат обявени публично, на сайта на
                гимназията ще намерите декларация, която трябва да попълните.</p>
              <p>Моля попълнете и донесете подписаната декларация в деня на състезанието!</p>
            </div>
          </div>

          <%= f.submit 'Промени', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">История</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <label>Създаден</label>
          </div>
          <div class="col-xs-8">
            <%= @student.created_at %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Последно променен</label>
          </div>
          <div class="col-xs-8">
            <%= @student.updated_at %>
          </div>
        </div>
        <% if @student.is_approved? %>
          <div class="row">
            <div class="col-xs-4">
              <label>Одобрен на</label>
            </div>
            <div class="col-xs-8">
              <%= @student.approved_at %>
            </div>
          </div>
        <% end %>
        <% if @student.is_declined? %>
          <div class="row">
            <div class="col-xs-4">
              <label>Отхвърлен на</label>
            </div>
            <div class="col-xs-8">
              <%= @student.declined_at %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><%= Student.human_attribute_name :comments %></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <button href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#comment-modal">Добави
              коментар
            </button>
          </div>
        </div>
        <br/>
        <% unless @student.comments.blank? %>
          <% @student.comments.order(:created_at => :desc).each do |c| %>
            <div class="row">
              <div class="col-xs-12">
                <p><%= c.user.full_name %> (на <%= c.created_at %>)</p>
                <%= simple_format c.content %>
              </div>
            </div>
            <hr/>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="comment-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Коментар
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        </h5>

      </div>
      <div class="modal-body">
        <%= bootstrap_form_for Comment.new, url: comments_path, include_id: false, method: :post do |f| %>
          <%= f.hidden_field :student_id, :value => @student.id %>
          <%= f.cktext_area :content, :class => :ckeditor, ckeditor: {language: 'bg'} %>
          <%= f.submit 'Създай', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
    $(function () {
        initialize_schools_selector(
            "/api/regions/%id%/cities",
            "/api/cities/%id%/schools",
            "/api/regions/%id%",
            "/api/cities/%id%",
            "/api/schools/%id%"
        );
    });

    $(function () {
        $("input[name='student[personal_data]']").change(function (e) {
            var declaration_link = $('#declaration_link');
            if ($(this).val() == 'true') {
                declaration_link.css({display: 'none'});
            } else {
                declaration_link.css({display: 'block'});
            }
        });

        if($("input[name='student[personal_data]']:checked").val() == 'false') {
            var declaration_link = $('#declaration_link');
            declaration_link.css({display: 'block'});
        }
    })
</script>
