<%= javascript_include_tag Ckeditor.cdn_url %>

<div class="container-fluid">
<div class="row">
  <div class="col-md-6">
    <div class="card">

      <div class="card-header">Редактирай ученик</div>
      <div class="card-body">
        <%= render 'studentform' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">История</div>
      <div class="card-body">
        <%= render 'shared/studenthistory' %>
      </div>
    </div>
    <br/>
    <div class="card">
      <div class="card-header"><%= Student.human_attribute_name :comments %></div>
      <div class="card-body">
        <%= render 'shared/comments' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/commentsmodal' %>

</div>
