<div class="container-fluid">
<div class="card">
  <div class="card-header">Ученици</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Име</th>
          <th>Презиме</th>
          <th>Фамилия</th>
          <th>Училище</th>
          <th>Модули</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.first_name %></td>
            <td><%= student.middle_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.school.name %></td>
            <td><%= student.exams.map(&:name).join(', ') %></td>
            <td>
              <%=
                case student.approver_status
                when :approved
                  "Одобрен"
                when :declined
                  "Отхвърлен"
                when :waiting
                  "Има коментари"
                when :unapproved
                  "Чака одобрение"
                else
                  "N/A"
                end %>
            </td>
            <td>
              <% if @placements_ready && student.ref_num? %>
                <%= link_to 'Служебна бележка', placements_student_path(student.id), class: "btn btn-success btn-block" %>
              <% else %>
                <% if @registration_closed %>
                  <%= simple_format(@expect_belejka) %>
                <% end %>
                <%# else %>
                <% if student.approver_id? %>
                  <%= link_to("Прегледай", student_path(student.id), :class => 'btn btn-success btn-block') %></td>
                <% else %>
                  <%= link_to("Прегледай", edit_student_path(student.id), :class => 'btn btn-primary btn-block') %></td>
                <% end %>
              <% end %>
              </tr>
        <% end %>
        </tbody>
      </table>

      <% unless @registration_closed %>
        <%= link_to "Регистрирай друг ученик", new_student_path, class: "btn btn-success btn-block" %>
      <% end %>
    </div>
  </div>
</div>
</div>
