<div class="panel panel-primary">
  <div class="panel-heading">Нов ученик</div>
  <div class="panel-body">
    <%= bootstrap_form_for @student, url: students_path, method: :post do |f| %>

      <%= f.text_field :first_name %>
      <%= f.text_field :middle_name %>
      <%= f.text_field :last_name %>

      <%= f.file_field :declaration %>

      <%= f.collection_check_boxes :exam_ids, Exam.all, :id, :name %>

      <h3>Данни за училището</h3>
      <%= f.collection_select :region, Region.order(:name), :id, :name %>
      <%= f.select :city, [] %>
      <% if @student.school_id.present? %>
        <%= f.select :school_id, School.all.collect {|p| [p.name, p.id]}, :selected => @student.school_id %>
      <% else %>
        <%= f.select :school_id, [] %>
      <% end %>

      <%= f.text_field :class_name %>

      <%= f.submit 'Създай', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        initialize_schools_selector(
            "/api/regions/%id%/cities",
            "/api/cities/%id%/schools",
            "/api/regions/%id%",
            "/api/cities/%id%",
            "/api/schools/%id%"
        );
    });
</script>