<div class="panel panel-primary">
  <div class="panel-heading">Нов ученик</div>
  <div class="panel-body">
    <%= bootstrap_form_for @student, url: students_path, method: :post do |f| %>

      <%= f.text_field :first_name %>
      <%= f.text_field :middle_name %>
      <%= f.text_field :last_name %>

      <%= f.file_field :declaration %>

      <%= f.collection_select :region, Region.order(:name), :id, :name %>
      <%= f.select :city, [] %>
      <%= f.select :school, [] %>

      <%= f.collection_check_boxes :exam_ids, Exam.all, :id, :name %>

      <%= f.submit 'Създай', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        initalize_schools_selector("/api/regions/%id%/cities", "/api/cities/%id%/schools");
    });
</script>