<div class="boxes">
  <div class="box full">
    <h2>Информация за ученика</h2>
    <p>
      <% [["Входящ номер", :id], ["Име", :full_name], ["ЕГН", :egn]].each do |vals| %>
        <div class="row">
          <label><%= vals[0] %>:</label> <strong><%= @student.send vals[1] %></strong>
        </div>
      <% end %>
    </p>
  </div>
</div>

<div class="boxes">
  <% @assessments.each do |assessment| %>
    <div id="<%= assessment.exam_id %>" class="box full">
      <h2>Изпит - <%= assessment.exam.name %></h2>
      <p>
        <div class="row">
          <label>Крайна оценка:</label> <strong><%= Assessment.mark_with_words(assessment.final_mark) %> <%= assessment.final_mark %></strong>
        </div>
        <div class="row">
          <label>Преди вас*:</label> <strong><%= Assessment.num_with_greater_marks(assessment.exam_id, assessment.final_mark).to_i %> човека</strong>
        </div>
      </p>
    </div>
  <% end %>
</div>

<br />
<br />
* - Показва боря ученици с по-висока оценка за този изпит.
