<div class="boxes">
  <div class="box half">
    <h2>Информация за ученика</h2>
    <p>
      <% [["Входящ номер", :id], ["Име", :full_name], ["ЕГН", :egn]].each do |vals| %>
        <div class="row">
          <label><%= vals[0] %>:</label> <strong><%= @student.send vals[1] %></strong>
        </div>
      <% end %>
    </p>
  </div>

  <div class="box half">
    <h2>Информация за паралелки</h2>
    <p>
      Кандидатства за:
      <ul>
        <% @student.grades.each do |grade| %>
          <li><%= link_to grade.name, "##{grade.id}" %></li>
        <% end %>
      </ul>
    </p>
  </div>
</div>

<div class="boxes">
  <% @assessments.each do |assessment| %>
    <div id="<%= assessment.grade_id %>" class="box full">
      <h2>Профил - <%= assessment.grade_name %></h2>
      <p>
        <div class="row">
          <label>Крайна оценка:</label> <strong><%= Assessment.mark_with_words(assessment.final_m) %> <%= assessment.final_m %></strong>
        </div>
        <div class="row">
          <label>Преди вас*:</label> <strong><%= Assessment.num_with_greater_marks(assessment.grade_id, assessment.final_m) %> човека</strong>
        </div>
      </p>
    </div>
  <% end %>
</div>

<br />
<br />
* - Показва боря ученици с по-висока оценка за този профил.
