<div class="control-group<%= object.errors[field].length > 0 ? ' error' : '' %>">
  <%= f.label field, :class => "control-label" %>
  <div class="controls">
    <%= f.password_field field %>
    <%= object.errors[field].length > 0 ? '<span class="help-inline">'.html_safe + object.errors[field].join('; ') + '</span>'.html_safe : '' %>
    <p class="help-block"><%= local_assigns[:help] || ' ' %></p>
  </div>
</div>