<div class="row">
  <div class="<%= @posts.present? ? 'col-sm-6 col-md-8' : 'col-xs-12' %>">

    <h2>Къде съм?</h2>
    Добре дошли в системата за кандидатстване в
    <strong>Националното състезание по природни науки и география "Акад. Л. Чакалов" </strong>

    <hr/>

    <h3>Какво следва?</h3>

    <% if user_signed_in? %>
      <% if current_user.is_parent? %>
        <p>Регистрацията на участник в състезанието може да се направи от родител/настойник или учител тук:</p>
          <%= link_to("Регистрация и преглед на участници", students_path, :class => "btn btn-primary btn-block") %>

      <% else %>
        <%= link_to("Одобрение на регистрации", approvals_path, :class => "btn btn-primary btn-block") %>
        <%= link_to("Административен панел", rails_admin_path, :class => "btn btn-default btn-block") %>
      <% end %>

    <% else %>
      <%= link_to("Влезте", new_user_session_path) %>
      или <%= link_to("се регистрирайте", new_user_registration_path) %>
    <% end %>

    <% if @page.present? %>
      <%= simple_format @page.content %>
    <% end %>
  </div>
  <% if @posts.present? %>

    <div class="col-sm-6 col-md-4">
      <h3>Информация:</h3>
      <% @posts.each do |post| %>
        <div class="media">
          <div class="media-body"></div>
          <h4 class="media-heading"><%= post.name %></h4>
          <%= simple_format post.content %>
        <hr/>
      <% end %>
      </div>
  <% end %>
  </div>
</div>
