<div class="boxes">
  <div class="box full">
<%= form_for resource, :as => resource_name, :url => session_path(resource_name), :method => :post, :html => {:class => "form-horizontal denser"} do |f| %>
  <div class="control-group">
    <%= f.label :email, "Имейл", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, "Парола", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="form-actions">
    <button class="btn btn-primary" data-disable-with="Вход" type="submit">
      Вход
    </button>
  </div>
<% end %>
</div>
</div>