<div id="contentHeader">
  <h2><%= @page_name %></h2>
</div>
<div id="contentMainNew">
  <form method="get" action="<%= Rails.application.routes.url_helpers.rails_admin_edit_declass_path %>">
    <fieldset>
      <h2>Ръчно разсекретяване</h2>
      <div class="formSection">
        <div class="field">
          <label for="exam_id">Изпит</label>
          <select name="exam_id" class="string">
          <% @exams.each do |exam| %>
            <option value="<%= exam.id %>"<%= (params[:exam_id].to_i == exam.id) ? " selected" : "" %>><%= exam.name %></li>
          <% end %>
          </select>
        </div>
        <div class="field">
          <label for="student_id">Входящ номер</label>
          <input type="text" class="string" name="student_id" /> 
        </div>
      </div>
      <ul id="submitArea">
        <li id="saveContainer">
          <%= submit_tag "Напред", :class => "button default", :id => "save_btn" %>
        </li>
      </ul>
    </fieldset>
  </form>

  <br />
  <br />
  <% form_for :import, :url => Rails.application.routes.url_helpers.rails_admin_import_declass_path, :method => :post, :html => {:multipart => true} do |f| %>
    <fieldset>
      <h2>Автоматично разсекретяване</h2>
      <div class="formSection">
        <div class="field">
          <label for="csv">Файл</label>
          <input type="file" class="string" name="csv" /> 
        </div>
      </div>
      <ul id="submitArea">
        <li id="saveContainer">
          <%= submit_tag "Напред", :class => "button default", :id => "save_btn" %>
        </li>
      </ul>
    </fieldset>
  <% end %>
</div>
