<div class="content">
  
  <div class="personal-data">
  <% [["Входящ номер-НПМГ", :id], ["Име", :full_name], ["ЕГН", :egn], ["Телефон", :phone]].each do |pair| %>
    <p>
      <span class="label"><%= pair[0] %>:</span> <span class="value"><%= @object.send pair[1] %></span>
    </p>
  <% end %>
  </div>

  <div class="exams">
    <table>
      <tr>
        <th>Изпит</th>
        <th>Оценка от олимпиада</th>
        <th>Дата на провеждане</th>
        <th>Ще се явява</th>
      </tr>
      <% @object.assessments.each do |assess| %>
      <tr>
        <td><%= assess.exam.name %></td>
        <td><%= assess.competition_mark.nil? ? "-" : assess.competition_mark %></td>
        <td><%= assess.exam.held_in.strftime("%d.%m.%Yг.") %></td>
        <td><%= assess.is_taking_exam? ? "Да" : "Не" %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="signs">
    <div class="left">
      <p>
      <span class="label box">Съгласен съм с верността на данните:</span> <span class="value box sign-box">___________<br /><span class="info">(подпис)</info></span>
    </p>
    </div>
    <div class="right">
      <p>
        <span class="label box">Приел:</span> <span class="value box sign-box">___________<br /><span class="info">(<%= @object.user.full_name %>)</info></span>
      </p>
      <p class="info" style="padding-top: 20px; clear: both;">
        Издадено в НПМГ на <%= @object.created_at.strftime("%d.%m.%Yг. в %H:%Mч.") %>
      </p>
    </div>
  </div>

  <div class="last-info">
    <div class="important">Важно!</div>
    <br />
    
  </div>
</div>