<div class="print">
  <button name="print" onclick="window.print();" style="font-size: 15pt;" >Печат</button>
</div>

<div class="content">
  Изх. №: __________/__________
  <h1>Служебна бележка</h1>
  <div class="personal-data">
  <% [["Входящ номер-НПМГ", :id], ["Име", :full_name], ["ЕГН", :egn]].each do |pair| %>
    <p>
      <span class="label"><%= pair[0] %>:</span> <span class="value"><%= @object.send pair[1] %></span>
    </p>
  <% end %>
  </div>

  <div class="exams">
    <table>
      <tr>
        <th>Паралелка</th>
        <th>Крайна оценка</th>
      </tr>
      <% @assessments.each do |asses| %>
      <tr>
        <td><%= asses.grade_name %></td>
        <td><%= Assessment.mark_with_words(asses.final_m) %> <strong><%= asses.final_m.to_f == 0.0 ? "" : asses.final_m %></strong></td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="last-info">
    <div class="important">Важно!</div>
    <br />
    <ul>
      <li>Класирането за НПМГ "Акад. Л. Чакалов" става с общото класиране за училищата в град София.</li>
      <li>Подаване на документи за участие в 1 етап на класирането се извършва в определените училища-гнезда в град София.</li>
      <li>Училище-гнездо за кандидати извън област София-град е 48 ОУ "Йосиф Ковачев", ул. Клокотница №21, тел.: 02/831 30 87; 02/831 01 20.</li>
    </ul>
  </div>

  <br />
  <br />
  <span class="principal">Иванка Генова</span><br />
  Директор на НПМГ "Акад. Л. Чакалов"
</div>