<% assessment.valid? %>
<div class="assessment" id="assessment-<%= assessment.exam_id %>">
	<h2><%= assessment.exam.name %></h2>
	<div class="formSection">
		<span class="delete-button"><a href="#" onclick="$('assessment-<%= assessment.exam_id %>').hide(); $('should-<%= assessment.exam_id %>').setAttribute('value', '1');">Премахни</a></span>
		<span class="errorMessage"><%= assessment.errors[:base] %></span>
		<div class="field">
			<label>Оценка от олимпиада</label>
			<input class="string" type="text" name="students[assessments_attributes][][competition_mark]" value="<%= assessment.competition_mark  %>" />
			<span class="errorMessage"><%= assessment.errors[:competition_mark] %></span>
			<p class="help">Число, което представлява оценка.</p>
		</div>
		<div class="field">
			<label>Ще се явява</label>
			<input type="checkbox" name="students[assessments_attributes][][is_taking_exam]" value="1"<%= (assessment.is_taking_exam?) ? " checked" : "" %>/> да
			<span class="errorMessage"><%= assessment.errors[:is_taking_exam] %></span>
		</div>
		<input type="hidden" name="students[assessments_attributes][][exam_id]" value="<%= assessment.exam_id %>" />
		<% if assessment.id %>
			<input type="hidden" name="students[assessments_attributes][][id]" value="<%= assessment.id %>" />
			<input type="hidden" id="should-<%= assessment.exam_id %>" name="students[assessments_attributes][][should_destroy]" value="0" />
		<% end %>
	</div>
</div>