<div id="contentHeader">
  <h2><%= @page_name %></h2>
</div>
<%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
<div id="contentMainNew">
  <form method="get" action="<%= rails_admin_exam_protocol_path %>">
    <fieldset>
      <h2>Квесторски протокол</h2>
      <div class="formSection">
        <div class="field">
          <label for="exam_id">Изпит</label>
          <select name="exam_id" class="string">
          <% @exams.each do |exam| %>
            <option value="<%= exam.id %>"<%= (params[:exam_id].to_i == exam.id) ? " selected" : "" %>><%= exam.name %></li>
          <% end %>
          </select>
        </div>
      </div>
      <ul id="submitArea">
        <li id="saveContainer">
          <%= submit_tag "Напред", :class => "button default", :id => "save_btn" %>
        </li>
      </ul>
    </fieldset>
  </form>
  <br />
  <br />
  <form method="get" action="<%= rails_admin_inspector_protocol_path %>">
    <fieldset>
      <h2>Протокол за инспекторат</h2>
      <div class="formSection">
        <div class="field">
          <label for="grade_id">Паралелка</label>
          <select name="grade_id" class="string">
          <% @grades.each do |grade| %>
            <option value="<%= grade.id %>"<%= (params[:grade_id].to_i == grade.id) ? " selected" : "" %>><%= grade.name %></li>
          <% end %>
          </select>
        </div>
      </div>
      <ul id="submitArea">
        <li id="saveContainer">
          <%= submit_tag "Напред", :class => "button default", :id => "save_btn" %>
        </li>
      </ul>
    </fieldset>
  </form>
</div>
