<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <img src="https://npmg.org/wp-content/uploads/2018/05/Logo88.png"
         width="30" height="30" class="d-inline-block align-top"
         alt="logo"/>
    <span class="d-none d-lg-inline">Състезание</span> "Акад. Л. Чакалов"
  <% end %>
  <button class="navbar-toggler navbar-toggler-right" type="button"
          data-toggle="collapse" data-target="#main-navbar-collapse"
          aria-controls="main-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Начало", root_path, class: 'nav-link' %></li>
      <% if user_signed_in? %>
        <% if current_user.is_parent? %>
          <li class="nav-item">
            <%= link_to "Ученици", students_path, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Одобрения", approvals_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <% if current_user.has_role? :admin %>
              <%= link_to "Администрация", rails_admin_path, class: 'nav-link' %>
            <% end %>
          </li>
        <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navDropdown" href="#">
            <%= current_user.full_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            <%= link_to "Изход", destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to "Вход", new_user_session_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Регистрация", new_user_registration_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>
<br/>
