<html lang="bg">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="NONE,NOARCHIVE"/>
  <title>
    <%= @page_name.nil? ? "" : "#{@page_name} |" %> <%= @plugin_name || "Състезание \"Акад. Л. Чакалов\" #{Time.now.strftime("%Y")}" %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<%= render 'navbar' %>
<div class="container">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= render 'errors' %>
  <%#= content_for(:layout) %>
</div>

<%= yield %>
</body>
</html>
