<!DOCTYPE html PUBLIC>
<html lang="bg">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="NONE,NOARCHIVE"/>
  <title>
    <%= @page_name.nil? ? "" : "#{@page_name} |" %> <%= @plugin_name || "Състезание \"Акад. Л. Чакалов\" #{Time.now.strftime("%Y")}" %>
  </title>

  <%= stylesheet_link_tag :application, :media => :screen %>

  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tag %>
  <style type="text/css">
    body {
      padding-top: 60px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        Национално Състезание по Природни Науки и География "Акад. Л. Чакалов"
        <small>Регистрация</small>
      <% end %>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <% if flash[:error] %>
    <div class="box flash-error full alert alert-danger">
      <%= flash[:error] %>
    </div>
    <div style="clear: both;"></div>
  <% end %>
  <%= content_for(:layout) %>
</div>
</body>
</html>
